[Unit]
Description=Pi CPU temperature watcher

[Service]
ExecStart=/usr/local/bin/pifanctl --fanpin 14 watch --temperature 55 --seconds 900 --delay 10

[Install]
WantedBy=multi-user.target